/* commont styles */
* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.banner {
  width: 82.5%;
  max-width: 1320px;
  margin: 0px auto;
  border-radius: 16px;
}


/* header styles */

.new-year {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('./resources/Banner Image.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 177px 0px;
  margin-top: 50px;
}

.new-year h4 {
  color: #FFF;
  font-family: Merriweather;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.new-year h1 {
  width: 48%;
  color: #FFF;
  font-family: Merriweather;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  margin-top: 16px;
}

/* main styles */

/* holiday deals section styles */

.the-deal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}

.the-deal h1,.the-deal h6,.the-deal h2 {
  color: #F00;
  text-align: center;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  }

.the-deal h6 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}

.the-deal h2 {
  color: #070211;
  font-size: 48px;
  margin-bottom: 48px;
}

.the-deal img {
  width: 60%;
  max-width: 803px;
}

/* party section */

.party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Vectorrr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.party-detail {
  width: 53%;
}

.party-detail h1 {
  width: 642px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
}

.party-detail p {
  width: 697px;
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 24px 0px;
}

.party-detail a {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 32px;
}

.party img {
  padding: 68px 0px;
}

/* location section */

.party-location {
  margin: 120px 0px;
}

.location {
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 0px;
}

.location-detail h3{
  text-align: center;
  color: #070211;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.location-detail h3 span {
  color: #FF0000;
}

.location button {
  background-color: #F00;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

}

/* best offer section styles */

.offer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer {
  width: 393px;
}

.offer h6 {
  color: #F00;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.offer h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  margin-top: 16;
  margin-bottom: 22;
}

.offer p, .happy-new-year p {
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.offer-container > img {
  padding: 50px;
  border: 15px solid #FF0000;
  border-radius: 100%;
}

.happy-new-year {
  width: 276px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.happy-new-year h3 {
  color: #F00;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.happy-new-year p {
  margin-top: 16px;
  margin-bottom: 13px;
}



/* holiday sale section style */

.holiday-sale > div {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.sale > h6 {
  color: #070211;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.sale > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 28px;
}

.sale h2 > span {
  color: #FF0000;
}

.sale > p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

/* discount section styles */

.discount {
  margin-top: 64px;
  margin-bottom: 120px;
}

.discount > div{
  background-image: url('./resources/Rectangle 2.png'), url('./resources/Rectangle 1.png');
  background-size: 100%, auto;
  background-repeat: no-repeat;
  background-position: bottom, top right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.discount > div > div {
  width: 50%;
}

.box-image {
  height: 646px;
}

/* portfolio section styles */

.portfolio > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio > div > h6 {
  color: #F00;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.portfolio > div > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  margin-top: 22px;
  margin-bottom: 16px;
}

.portfolio > div > p {
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 68%;
  margin-bottom: 48px;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}

.product-images img {
  width: 32%;
}

/* subscribe section styles */
.subscribe {
  margin: 120px 0px;
}

.subscribe-info {
  background-color: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}

.subscribe-info > img {
  width: 150px;
}

.subscribe-info > h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  margin-top: 40px;
}

.subscribe-info > p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 68%;
  margin-top: 22px;
  margin-bottom: 48px;
}

label {
  display: flex;
  width: 49%;
}

label > input[type="submit"] {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  background-color: #FF0000;
  border: none;
  padding: 24px 56px;
  border-radius: 0px 50px 50px 0px;
}

label > input[type="text"] {
  border: none;
  border-radius: 50px 0px 0px 50px;
  padding: 25px;
  color: rgba(7, 2, 17, 0.30);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

/* footer styles */
footer {
  background-color: #070211;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 120px 0px;
}

.footer-info {
  display: flex;
  justify-content: space-between;

}

.footer-info > p {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  width: 30%;
  margin-bottom: 50px;
}

.footer-info > div > h6 {
  display: flex;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.footer-info > div > h6 > img {
  margin-right: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons > img {
  margin: 48px 24px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.copyright > h5 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

hr {
  border-color: #FFFFFF26;
}